@model TGV.Model.Caminhao

@{
    ViewData["Title"] = "Delete";
}


<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header ">
            <p class="modal-title font-weight-bold text-white"> Excluir Caminhão: @Model.Codigo -@Model.Motorista.Nome?</p>
            <button type="button" class="close col-footer btn-close-modal" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true" class="text-white">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Marca)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Modelo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Modelo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Placa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Placa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Eixo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Eixo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Peso)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Peso)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MOTORISTA_CODIGO)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MOTORISTA_CODIGO)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Codigo" />
                <input type="submit" value="Excluir" class="btn btn-block btn-danger" />
            </form>

        </div>
    </div>
</div>
