@model IEnumerable<TGV.Model.Viagem>

@{
    ViewData["Title"] = "Index";
}

<div class="mx-auto">
    
    <a class="btn btn-info text-white " asp-action="Create" id="motorista-create"><i class="fa fa-plus"></i> Adicionar Nova Viagem</a>
</div>
<br />
<div class="card shadow">

    <div class="card-header py-1 text-center">
        <h5 class="m-1 font-weight-bold text-black">Viagens Cadastradas </h5>
    </div>

    <div class="card-body">
        @if (Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered display nowra">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DataHora)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LocalEntrega)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LocalSaida)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.KmPercurso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MOTORISTA_CODIGO)
                            </th>
                            <th>Editar</th>
                            <th>Ver</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataHora)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocalEntrega)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocalSaida)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KmPercurso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Motoristas.Nome)
                            </td>
                            <td>

                                <a asp-action="Edit" class="btn btn-primary text-white" asp-route-id="@item.Codigo"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                <a asp-action="Details" class="btn btn-info text-white" asp-route-id="@item.Codigo"><i class="fa fa-list"></i></a>
                                
                            </td>
                            <td>
                                <a asp-action="Delete" class="btn btn-danger text-white" asp-route-id="@item.Codigo"><i class="fa fa-trash-alt"></i></a>
                                
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>
                Sem viagens cadastradas
            </p>
        }

    </div>
</div>