@model IEnumerable<TGV.Model.Viagem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KmPercurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOTORISTA_CODIGO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KmPercurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTORISTA_CODIGO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
