@model IEnumerable<TGV.Model.Viagem>
@{
    ViewData["Title"] = "Home Page";
}
<div class="card shadow">
    <div class="card-header py-1 text-center">
        <h5 class="m-1 font-weight-bold text-black">Próximas Viagens </h5>
    </div>
    <div class="card-body">
     
        <div class="card-deck">
            @foreach (var item in Model)
            {


                <div class="card bg-light ">
                    <div class="card-header">@item.DataHora</div>
                    <div class="card-body">
                        <h6 class="card-title">@item.LocalSaida / @item.LocalEntrega</h6>
                        <p>Percurso: @item.KmPercurso km </p>
                        <p>Caminhão: @item.Caminhao.Marca, @item.Caminhao.Modelo, @item.Caminhao.Placa </p>
                        <p>Motorista: @item.Motoristas.Nome </p>
                        
                    </div>
                    <div class="card-footer bg-transparent ">
                        <a asp-action="Details" class="btn btn-info  float-right text-white" asp-controller="Viagens" asp-route-id="@item.Codigo"><i class="fa fa-eye"></i> Ver</a>
                    </div>
                </div>
                  

            }
        </div>
       

    </div>
</div>
